.container{
    text-align: center;
}

.titulo{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color:#020253;
}


.items li{
    color: #fff;
}

.buttonContainer{
    display:flex;
    justify-content: center;
    margin-top: 70px;
}
.a{
    text-decoration: none;
    font-size: 40px;
    background-color: #000 ;
    color: #fff;
    box-shadow: 5px 5px 5px #000;
    border-radius: 3px;
    padding:  2px 7px;
}

a:hover{
    background-color: #020253 ;
    padding:  4px 14px;
    transition: 0.2s;
}

a:active{
    background-color: #48e;
}


@media screen and (min-width:426px) {
    .container{
        text-align: justify;
    }

    .items{
        margin-left: 40px;
    }
    
    .items li{
        font-size: 20px;
    }
   
}

@media screen and (min-width:1200px) {
    .items{
        margin-left: 200px;
    }
}

